# Series

## 학습목표
 1. pandas Series 데이터 생성하기

In [ ]:
import numpy as np
import pandas as pd

#### Series
  - pandas의 기본 객체 중 하나
  - numpy의 ndarray를 기반으로 인덱싱을 기능을 추가하여 1차원 배열을 나타냄
  - index를 지정하지 않을 시, 기본적으로 ndarray와 같이 0-based 인덱스 생성, 지정할 경우 명시적으로 지정된 index를 사용
  - 같은 타입의 0개 이상의 데이터를 가질 수 있음

* data로만 생성하기
 - index는 기본적으로 0부터 자동적으로 생성

* data, index함께 명시하기

* data, index, data type 함께 명시하기

#### 인덱스 활용하기

1. 인덱스를 통한 데이터 접근

2. 인덱스를 통한 데이터 업데이트

3. 인덱스 재사용하기

4. 인덱스 활용해서 멀티플한 값 접근하기
- s[[1,2,3]]

## 학습목표
2. Series 함수 활용하여 데이터 분석하기

#### **Series size, shape, unique, count, value_counts 함수**
 - size : 개수 반환
 - shape : 튜플형태로 shape반환
 - unique: 유일한 값만 ndarray로 반환
 - count : NaN을 제외한 개수를 반환
 - mean: NaN을 제외한 평균 
 - value_counts: NaN을 제외하고 각 값들의 빈도를 반환

index를 활용하여 멀티플한 값에 접근

#### **head, tail 함수**
 - head : 상위 n개 출력 기본 5개
 - tail : 하위 n개 출력 기본 5개


 - Series에서는 사용이 잘 안되지만, DataFrame에서 매우 유용하게 사용됨

## 학습목표
3. Series 데이터 연산하기

#### index를 기준으로 연산

#### **산술연산**
 - Series의 경우에도 스칼라와의 연산은 각 원소별로 스칼라와의 연산이 적용
 - Series와의 연산은 각 인덱스에 맞는 값끼리 연산이 적용
   - 이때, 인덱스의 pair가 맞지 않으면, 결과는 NaN

#### **index pair가 맞지 않는 경우**
 - 해당 index에 대해선 NaN 값 생성

## 학습목표
4. Series 데이터 Boolean Selection으로 데이터 선택하기
  - 지난 주 Numpy 설명할 때 썻던것과 동일 (Masking)

 #### **Boolean selection**
  - boolean Series가 []와 함께 사용되면 True 값에 해당하는 값만 새로 반환되는 Series객체에 포함됨
  - 다중조건의 경우, &(and), |(or)를 사용하여 연결 가능

## 학습목표 
5. Series 데이터 변경 & 슬라이싱하기

#### **Series 값 변경**
  - 추가 및 업데이트: 인덱스를 이용
  - 삭제: drop함수 이용

#### **Slicing**
 - 리스트, ndarray와 동일하게 적용

# DataFrame

## 학습목표
 1. Dataframe data 살펴보기

#### DataFrame
  - Series가 1차원이라면 DataFrame은 2차원으로 확대된 버젼
  - Excel spreadsheet이라고 생각하면 이해하기 쉬움
  - 2차원이기 때문에 인덱스가 row, column로 구성됨
   - row는 각 개별 데이터를, column은 개별 속성을 의미
  - Data Analysis, Machine Learning에서 data 변형을 위해 가장 많이 사용

In [ ]:
# csv 데이터 읽기

#### head, tail 함수
 - 데이터 전체가 아닌, 일부(처음부터, 혹은 마지막부터)를 간단히 보기 위한 함수
 - default = 5

#### dataframe 데이터 파악하기
 - shape 속성 (row, column)
 - describe 함수 - 숫자형 데이터의 통계치 계산
 - info 함수 - 데이터 타입, 각 아이템의 개수 등 출력

## 학습목표
2. 인덱스와 컬럼의 이해

#### 인덱스(index)
 - index 속성
 - 각 아이템을 특정할 수 있는 고유의 값을 저장
 - 복잡한 데이터의 경우, 멀티 인덱스로 표현 가능

#### 컬럼(column)
 - columns 속성
 - 각각의 특성(feature)을 나타냄
 - 복잡한 데이터의 경우, 멀티 컬럼으로 표현 가능

## 학습목표
 3. 수치해석 라이브러리인 numpy의 이해 및 사용
 4. 데이터 분석 라이브러이인 pandas의 이해 및 사용

#### DataFrame 생성하기
 - 일반적으로 분석을 위한 데이터는 다른 데이터 소스(database, 외부 파일)을 통해 dataframe을 생성
 - 여기서는 실습을 통해, dummy 데이터를 생성하는 방법을 다룰 예정

#### dictionary로 부터 생성하기
 - dict의 key -> column

#### Series로 부터 생성하기
 - 각 Series의 인덱스 -> column

## 학습목표
5. row, column 이해하기
6. loc, iloc 이해하기

#### csv 데이터로 부터 Dataframe 생성
 - 데이터 분석을 위해, dataframe을 생성하는 가장 일반적인 방법
 - 데이터 소스로부터 추출된 csv(comma separated values) 파일로부터 생성
 - pandas.read_csv 함수 사용

#### read_csv 함수 파라미터
 - sep - 각 데이터 값을 구별하기 위한 구분자(separator) 설정 
 - header - header를 무시할 경우, None 설정
 - index_col - index로 사용할 column 설정
 - usecols - 실제로 dataframe에 로딩할 columns만 설정

 - i.e.) pd.read_csv('Dataset.csv', index_col='Feature1', usecols=['Feature2', 'Feature3' ...])

#### column 선택하기
  - 기본적으로 [ ]는 column을 추출 
  - 컬럼 인덱스일 경우 인덱스의 리스트 사용 가능
    - 리스트를 전달할 경우 결과는 Dataframe
    - 하나의 컬럼명을 전달할 경우 결과는 Series

#### dataframe slicing
  - dataframe의 경우 기본적으로 [] 연산자가 **column 선택**에 사용
  - 하지만, slicing은 row 레벨로 지원

#### row 선택하기
  - Seires의 경우 []로 row 선택이 가능하나, **DataFrame의 경우는 기본적으로 column을 선택하도록 설계**
  - **.loc, .iloc**로 row 선택 가능
    - loc - 인덱스 자체를 사용
    - iloc - 0 based index로 사용
    - 이 두 함수는 ,를 사용하여 column 선택도 가능

#### row, column 동시에 선택하기
 - loc, iloc 속성을 이용할 때, 콤마를 이용하여 둘 다 명시 가능
 - row(index) 먼저, 필요한 feature(column) 순서
  - i.e.) data.loc[ [row1,row2,row3], ['col1','col2','col3'] ] 
 - iloc 은 column을 순서대로 인식하기 때문에 숫자로 대체 가능
  - i.e.) data.iloc[ [row1,row2,row3], [0,2,3] ]

#### **boolean selection으로 row 선택하기**
 - numpy에서와 동일한 방식으로 해당 조건에 맞는 row만 선택

#### 30대이면서 1등석에 탄 사람 선택하기

## 학습목표
 7. Dataframe에 새로운 colum을 추가하기
 8. Dataframe에 column 삭제하기

#### 새 column 추가하기
 - [] 사용하여 추가하기
 - insert 함수 사용하여 원하는 위치에 추가하기
  - dataset.insert(위치, '컬럼명', '넣고싶은 값')

#### column 삭제하기
 - drop 함수 사용하여 삭제
   - 리스트를 사용하여 멀티플 삭제 가능 
   - axis=1 -> 열 전체 삭제
   - i.e.) dataset.drop(['삭제하고','싶은','column'], axis=1, inplace=True)

## 학습목표
 9. corr 함수 이용하기

#### 변수(column) 사이의 상관계수(correlation) 
 - corr함수를 통해 상관계수 연산 (-1, 1 사이의 결과)
   - 연속성(숫자형)데이터에 대해서만 연산
   - **주의!! 1, -1에 가까울수록 서로 유의미하지만,인과관계를 의미하진 않음

## 학습목표
 10. NaN 처리 방법 이해하기

#### NaN 값 확인
 - info함수를 통하여 개수 확인
 - isna함수를 통해 boolean 타입으로 확인

#### NaN 처리 방법
 - 데이터에서 삭제
   - dropna 함수 
 - 다른 값으로 치환
   - fillna 함수

* NaN 데이터 삭제하기

* NaN 값 대체하기
 - 평균으로 대체하기
 - 생존자/사망자 별 평균으로 대체하기

## 학습목표
 11. 숫자 & 범주형 데이터의 이해

#### info함수로 각 변수의 데이터 타입 확인
 - 타입 변경은 astype함수를 사용

#### 숫자형(Numerical Type) 데이터
 - 연속성을 띄는 숫자로 이루어진 데이터
   - 예) Age, Fare 등

#### 범주형(Categorical Type) 데이터
 - 연속적이지 않은 값(대부분의 경우 숫자를 제외한 나머지 값)을 갖는 데이터를 의미
   - 예) Name, Sex, Ticket, Cabin, Embarked 
 - 어떤 경우, 숫자형 타입이라 할지라도 개념적으로 범주형으로 처리해야할 경우가 있음
   - 예) Pclass

#### 숫자 데이터의 범주형 데이터 화

#### Pclass 변수 변환하기
 - astype 사용하여 간단히 타입만 변환

#### Age 변수 변환하기
 - 변환 로직을 함수로 만든 후, apply 함수로 적용

#### 범주형 데이터 전처리 하기 ( one-hot encoding)

#### One-hot encoding
 - 범주형 데이터는 분석단계에서 계산이 어렵기 때문에 숫자형으로 변경이 필요함
 - 범주형 데이터의 각 범주(category)를 column레벨로 변경
 - 해당 범주에 해당하면 1, 아니면 0으로 채우는 인코딩 기법
 - pandas.get_dummies 함수 사용
   - drop_first : 첫번째 카테고리 값은 사용하지 않음
    - 이 경우, True를 하는 이유는 조금이라도 용량을 줄이기 위함, 그런데 나중에 헷갈릴 수 있으니 활용할때는 주의할것

## 학습목표
12. DataFrame groupby 이해하기

#### group by
  + 아래의 세 단계를 적용하여 데이터를 그룹화(groupping) (SQL의 group by 와 개념적으로는 동일, 사용법은 유사)
    - 데이터 분할
    - operation 적용
    - 데이터 병합

#### GroupBy groups 속성
 - 각 그룹과 그룹에 속한 index를 dict 형태로 표현

#### groupping 함수
 - 그룹 데이터에 적용 가능한 통계 함수(NaN은 제외하여 연산)
 - count - 데이터 개수 
 - sum   - 데이터의 합
 - mean, std, var - 평균, 표준편차, 분산
 - min, max - 최소, 최대값

#### 복수 columns로 groupping 하기
 - groupby에 column 리스트를 전달
 - 통계함수를 적용한 결과는 multiindex를 갖는 dataframe

* 클래스와 성별에 따른 생존률 구해보기

#### index를 이용한 group by
 - index가 있는 경우, groupby 함수에 level 사용 가능
   - level은 index의 depth를 의미하며, 가장 왼쪽부터 0부터 증가

* **set_index** 함수
 - column 데이터를 index 레벨로 변경
* **reset_index** 함수
 - 인덱스 초기화

#### 나이대별로 생존율 구하기

#### MultiIndex를 이용한 groupping

#### aggregate(집계) 함수 사용하기
 - groupby 결과에 집계함수를 적용하여 각 그룹별 데이터 확인 가능
 - 지금까지 배운 것 한번에 활용하기!

In [ ]:
train_data.set_index(['Pclass', 'Sex']).groupby(level=[0, 1]).aggregate([np.mean, np.sum, np.max])

              PassengerId               ...        Fare
                     mean     sum amax  ...        mean        sum      amax
Pclass Sex                              ...
1      female  469.212766   44106  888  ...  106.125798  9975.8250  512.3292
       male    455.729508   55599  890  ...   67.226127  8201.5875  512.3292
2      female  443.105263   33676  881  ...   21.970121  1669.7292   65.0000
       male    447.962963   48380  887  ...   19.741782  2132.1125   73.5000
3      female  399.729167   57561  889  ...   16.118810  2321.1086   69.5500
       male    455.515850  158064  891  ...   12.661633  4393.5865   69.5500

[6 rows x 18 columns]

## 학습목표
13. Transform 함수의 이해 및 활용하기

#### transform 함수
 - groupby 후 transform 함수를 사용하면 원래의 index를 유지한 상태로 통계함수를 적용
 - 전체 데이터의 집계가 아닌 각 그룹에서의 집계를 계산
 - 따라서 새로 생성된 데이터를 원본 dataframe과 합치기 쉬움

## 학습목표
14. pivot, pivot_table 함수의 이해

In [ ]:
df = pd.DataFrame({
    '지역': ['서울', '서울', '서울', '경기', '경기', '부산', '서울', '서울', '부산', '경기', '경기', '경기'],
    '요일': ['월요일', '화요일', '수요일', '월요일', '화요일', '월요일', '목요일', '금요일', '화요일', '수요일', '목요일', '금요일'],
    '강수량': [100, 80, 1000, 200, 200, 100, 50, 100, 200, 100, 50, 100],
    '강수확률': [80, 70, 90, 10, 20, 30, 50, 90, 20, 80, 50, 10]
                  })

df

#### pivot 
 - dataframe의 형태를 변경
 - 인덱스, 컬럼, 데이터로 사용할 컬럼을 명시
 - pivot_table이 더 많이 사용, + 더 편리한 기능 많아서 패스,,,

#### pivot_table
 - 기능적으로 pivot과 동일
 - pivot과의 차이점
   - 중복되는 모호한 값이 있을 경우, aggregation 함수 사용하여 값을 채움
   - margins=True, 매개변수를 통해 전체 행/열에 대한 평균도 구할 수 있음

## 학습목표
15. stack, unstack 함수 이해하기

####  stack & unstack
 - stack : 컬럼 레벨에서 인덱스 레벨로 dataframe 변경
  - 즉, 데이터를 쌓아올리는 개념으로 이해하면 쉬움
 - unstack : 인덱스 레벨에서 컬럼 레벨로 dataframe 변경
  - stack의 반대 operation
 
 - 둘은 역의 관계에 있음

## 학습목표
16. Concat 함수 사용하여 dataframe 병합하기

#### concat 함수 사용하여 dataframe 병합하기
 - pandas.concat 함수
 - 축을 따라 dataframe을 병합 가능
   - 기본 axis = 0 -> 행단위 병합

* column명이 같은 경우

* column 명이 다른 경우 
- 값이 없는 경우 NaN 으로 처리

## 학습목표
17. Merge_ Join 함수로 dataframe 병합하기

#### dataframe merge
 - SQL의 join처럼 특정한 column을 기준으로 병합
   - join 방식: how 파라미터를 통해 명시
     - inner: 기본값, 일치하는 값이 있는 경우 
     - left: left outer join
     - right: right outer join
     - outer: full outer join
     
 - pandas.merge 함수가 사용됨

* on 
 - join 대상이 되는 column 명시

* index 기준으로 join하기
- index가 동일하다면 가능!

#### join 함수
 - 내부적으로 pandas.merge 함수 사용
 - 기본적으로 index를 사용하여 left join